# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/

# Django
staticfiles/
media/

# VS Code / PyCharm
.vscode/
.idea/

# Local Django settings
migraine_site/settings_local.py

# SQLite (local dev DB)
db.sqlite3